/* UNIVERSAL */

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    padding: 0;
    margin: 0;
    background-color: #eee;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* HEADER */

header {
    z-index: 3;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 120px);
    max-width: 1200px;
    height: 90px;
    padding: 0px 28px 0px 40px;
    border-radius: 100px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 6px 12px #00000011;
    transition: 0.2s;
}

#header-title {
    height: 60px;
    transition: 0.2s;
}

#header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

#header-nav a:not(:last-child) {
    font-size: 17px;
    border-bottom: 0px solid transparent;
    padding: 10px 0px;
    transition: 0.2s;
}

#header-nav a:not(:last-child):hover {
    color: #5500ff;
    border-bottom: 4px solid #5500ff;
}

#header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50px;
    width: 140px;
    background-color: #5500ff;
    border: 2px solid transparent;
    border-radius: 100px;
    box-sizing: border-box;
    transition: 0.2s;
}

#header-button:hover {
    color: #5500ff;
    background-color: transparent;
    border: 2px solid #5500ff;
    border-radius: 100px;
}

#hamburger {
    display: none;
    width: 52px;
    height: 46px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

#hamburger span {
    width: 100%;
    height: 4px;
    background-color: #5500ff;
    border-radius: 10px;
    transition: 0.2s;
}

.hamburger-active #hamburger span:nth-child(1) {
    transform: rotate(135deg) translate(7px, -7px);
}

.hamburger-active #hamburger span:nth-child(2) {
    opacity: 0;
}

.hamburger-active #hamburger span:nth-child(3) {
    transform: rotate(-135deg) translate(7px, 7px);
}

@media screen and (max-width: 780px) {
    #inner-header {
        position: relative;
        width: calc(100% - 40px);
        height: 70px;
        padding: 0px 30px 0px 30px;
        border-radius: 100px;
        margin-top: 20px;
    }

    #header-title {
        height: 42px;
    }

    #header-nav {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 70px;
        padding: 0px;
        overflow: hidden;
        background-color: white;
        border-radius: 35px;
        box-shadow: 0px 6px 12px #00000000;
        transition: 0.2s;
    }

    .hamburger-active #header-nav {
        top: 0px;
        display: flex;
        height: 380px;
        padding: 100px 0px 40px;
        box-shadow: 0px 6px 12px #00000011;
    }

    #header-nav a:not(:last-child) {
        font-size: 20px;
        border-bottom: 0px solid transparent;
        padding: 10px 0px;
        transition: 0.2s;
    }

    #header-nav a:not(:last-child):hover {
        border-bottom: 0px solid transparent;
    }

    #hamburger {
        display: flex;
    }

    #header-button {
        font-size: 19px;
        width: 180px;
        height: 60px;
    }
}

main h1 {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    opacity: 0.5;
}